/*|||||||||||||||||||||||||||||||||Sidebar Styling Section|||||||||||||||||||||||||||||||||*/
/*Colors and adjusts the sidebar*/
[data-testid="stSidebar"]{
    background-color: #294A7B;
    width: 350px !important;
}

/*Styling the header for the sidebar!*/
[data-testid="stSidebar"] h1 {
    font-size: 40px; 
}

/*Button Styling*/
div.stButton > button{
    background: #5A739C;
    color: #FFFDFE;
    border-radius: 8px;
    border: 2px solid #E7EFFF;
    padding: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 310px;
}

div.stButton > button:hover{
    background: #5A739C;
    border: 4px solid #E7EFFF;
}

.st-key-clear_chat_button button{
    position:absolute;
    bottom: -50vb;
    width:100%;
}


.stFileUploader{
    position:absolute;
    bottom: -45vb;
    width:100%;
}

/*|||||||||||||||||||||||||||||||||Sidebar Styling Section End|||||||||||||||||||||||||||||||||*/


.st-key-chat_input_styled {
    border-radius: 30px;
    border: 2px solid #E7EFFF;
    width: 800px;
    justify-self: flex-center;
    margin-right: auto;
    margin-left: auto;  
}

/*Default message styling (Bob's styling for the most part)*/
.stChatMessage{
    background-color: #1F1F24;
    max-width: 70%;
}

/*Message styling when from the user*/
[class*="st-key-user"]{
    .stChatMessage{
        background-color: #294A7B;
        border-radius: 15px;
        text-align: left;
        flex-direction: row-reverse;

        width: fit-content;
        height: fit-content;
        max-width: 70%;
        position:relative;
        justify-self: flex-end;
        margin-left: auto;
    }
    
}
