  :root {
      --primary-color: #30B3AF; /* Example primary color (teal) */
      --secondary-color: #B3DCD8; /* Example secondary color */
      /* You can define other colors here as well */
    }

/*Colors the header*/
[data-testid="stHeader"] {
    background-color: #1F1F24;
}

/*Colors the main bg*/
[data-testid="stAppViewContainer"] {
    background-color: #1F1F24;
}

/* [data-testid="stFooter"] did not work for this for some reason . . ., element was found through inspect element when running*/
.st-emotion-cache-hzygls {
    background-color: #1F1F24;
}

/*|||||||||||||||||||||||||||||||||Sidebar Styling Section|||||||||||||||||||||||||||||||||*/
/*Colors the sidebar*/
[data-testid="stSidebar"]{
    background-color: #294A7B;
    width: 20% !important;
}

/*Styling the header for the sidebar*/
[data-testid="stSidebar"] h1 {
    font-size: 40px; 
}

    /*Button Styling*/
div.stButton > button{
    background: #5A739C;
    color: #FFFDFE;
    border-radius: 8px;
    border: 2px solid #E7EFFF;
    padding: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 300px;
    margin: 0 auto;
    align-items: center;
}

div.stButton > button:hover{
    background: #5A739C;
    border: 4px solid #E7EFFF;
}

/*Clear Button Bottom Positioning */
.st-key-clear_chat_button button{
    position: fixed;
    bottom: 1%;
}

.stFileUploader{
    position: fixed;
    bottom: 1%;
    width: 300px;
    padding-bottom: 3%;
    margin: 0 auto;
    align-items: center;
}

/*|||||||||||||||||||||||||||||||||Sidebar Styling Section End|||||||||||||||||||||||||||||||||*/


.st-key-chat_input_styled {
    border-radius: 30px;
    border: 2px solid #E7EFFF;
    width: 800px;
    justify-self: flex-center;
    margin-right: auto;
    margin-left: auto;  
    outline: none !important;  
    box-shadow: none;
}

.st-key-chat_input_styled:focus{
    

}


.stChatMessage{
    background-color: #1F1F24;
    max-width: 70%;
}

[class*="st-key-user"]{

    .stChatMessage{
        background-color: #294A7B;
        border-radius: 15px;
        text-align: left;
        flex-direction: row-reverse;

        width: fit-content;
        height: fit-content;
        max-width: 70%;
        position:relative;
        justify-self: flex-end;
        margin-left: auto;
    }
    
}
