
/*Colors the header*/
[data-testid="stHeader"] {
    background-color: #1F1F24;
}

/*Colors the main bg*/
[data-testid="stAppViewContainer"] {
    background-color: #1F1F24;
}

/* [data-testid="stFooter"] did not work for this for some reason . . ., element was found through inspect element when running*/
.st-emotion-cache-hzygls {
    background-color: #1F1F24;
}


/*|||||||||||||||||||||||||||||||||Sidebar Styling Section|||||||||||||||||||||||||||||||||*/
/*Colors the sidebar*/
[data-testid="stSidebar"]{
    background-color: #294A7B;
    width: 600px;
}

/*Styling the header for the sidebar*/
[data-testid="stSidebar"] h1 {
        font-size: 40px; 
    }


.st-key-clear_chat_button button{
    background: #5A739C;
    color: #FFFDFE;
    border-radius: 8px;
    border: 2px solid #E7EFFF;
    padding: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 200px;
    position: fixed;
    bottom: 1%;    
}

.st-key-clear_chat_button button :hover{
    background: #5A739C;
    border: 4px solid #E7EFFF;
    
}



/*Button Styling*/
div.stButton > button{
    background: #5A739C;
    color: #FFFDFE;
    border-radius: 8px;
    border: 2px solid #E7EFFF;
    padding: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 200px;
}

div.stButton > button:hover{
    background: #5A739C;
    border: 4px solid #E7EFFF;

}

/*|||||||||||||||||||||||||||||||||Sidebar Styling Section End|||||||||||||||||||||||||||||||||*/


